<p>main-page works!</p>

<input type="text" #submitId (input)="submitId.value">
<div>{{sms}}</div>
<button (click)="login()">login</button>
<button (click)="submit(submitId.value)">signup</button>
<button (click)="loop()">loops</button>
<button (click)="ifElse()">if-else</button>
<button (click)="style()">style-binding</button>
<button (click)="form()">form</button>
<button (click)="toggle()">toggle</button>
<button (click)="todo()">todo list</button>
<button (click)="pipes()"> pipes</button>


<app-databinding></app-databinding>
<app-other-practise></app-other-practise>
<hr>
<app-child-parent [item]="child"></app-child-parent>
<button (click)="update()">update child</button>

 


