<p>reactive-form works!</p>

<form [formGroup]="loginForm"  (ngSubmit)="userLogin()"> 
  <input type="email" placeholder="enter user name " formControlName="user" />
  <br />
  <!-- <span *ngIf="user?.invalid && user?.touched">plise enetr valid user name</span -->
  <br />
  <input
  [type]="inputType"
    placeholder="enter password"
    formControlName="password"
    (keyup)="checkPassword()"
  />  <i [className]="icons" (click)="showPassword()"></i><br><br>
  <input type="password" placeholder="confirm password" formControlName="confirmPassword" (keyup)="checkPassword()">
  <span *ngIf="passMissMatch">password not match</span>
  <!-- <br /><span *ngIf="password?.invalid && password?.touched" -->
    <!-- >plise enter correct password</span -->
  <br />
  <input type="text" formControlName="city" placeholder="enter city">city
  <button [disabled]='loginForm.invalid'>register</button>
</form>
