<p>reactive-form works!</p>

<form [formGroup]="loginform" (ngSubmit)="userLogin()">
  <input type="email" placeholder="enter user name " formControlName="user" />
  <br />
  <span *ngIf="user?.invalid && user?.touched">plise enetr valid user name</span
  ><br />
  <input
  [type]="inputType"
    placeholder="enter password"
    formControlName="password"
  />  <i [className]="icons" (click)="showPassword()"></i>
  <br /><span *ngIf="password?.invalid && password?.touched"
    >plise enter correct password</span
  ><br />
  <button [disabled]="loginform.invalid">register</button>
</form>
